<% if @list.image.attached? %>
  <div id="bgImg" style="background-image: url(<%= rails_blob_path(@list.image, only_path: true) %>);"></div>
<% else %>
  <div id="bgImg"></div>
<% end %>
<div class="container position-relative" id="bgContainer">
  <section class= "text-center text-danger">
    <h1><%= @list.name %></h1>
    <div>
      <% if @list.user == current_user %>
        <%= link_to "Add movies", new_list_bookmark_path(@list), class: "btn btn-danger", id: "addMoviesButton"%>
      <% else %>
        <p class="btn btn-success btn-sm disabled" id="userList">By <%= @list.user.first_name %></p>
      <% end %>
    </div>
    <div>
      <%= link_to lists_path, id: "backButton" do %>
        <div class="backButton d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-angles-left"></i>
        </div>
      <% end %>
    </div>
    <div>
      <p class="btn btn-success disabled btn-sm m-0" id="moviesCount"><%= pluralize(@list.movies.count, 'movie') %></p>
    </div>
  </section>
</div>
<div class="container">
  <%= render "shared/bookmarks" %>
  <hr class="my-5">
  <%= render "shared/reviews" %>
</div>
